/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #FFF;
	padding: 20px 45px 20px;
}

/* Write all remaining styles here */

h1, h2 {
	color: #6f7f7a;
}

#press a {
  transition: transform .2s;
  width: 100px;
  height: 100px;
}

#press img:hover {
	border: 5px #6f7f7a solid;
	transform: scale(1.5);
  }

#footer {
	text-align: right;
	margin: 0px;
}

#press { 
	margin-bottom: 20px;
}