/*////////////// Fonts //////////////*/
h1 {
    padding-bottom: 10px;
    margin: 0 0 5px;
    font-size: 5em;
	font-weight: bold;
	color: rgb(143,163,158);
    font-family: 'Baskerville', serif;
    border-bottom: 1px solid #ccc;
}
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header a {
	color: rgb(152,173,166);
    text-decoration: none;
}



#featured img {
	border: 5px rgb(152,173,166) solid;
}

h2 {
	color: rgb(111,127,122);
    font-size: 2em;
}

#featured a {
	color: #1783bb;
    text-decoration: none;
}

.small {
	font-size: 0.8em;
}

p {
	color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
}

footer {
	text-align: right;
}

#Press {
	margin-bottom: 20px;
}

#Press img {
	border: 5px #ccc solid;
    padding: 1px
}