/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
  padding-bottom: 10px;
    margin: 0 0 5px;
    font-size: 5em;
    font-weight: normal;
    font-family: 'Baskerville', serif;
    border-bottom: 1px solid
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #6F7F7A;
}

a {
  color: #98ADA6;
  
}
#featured img {
  border: 5px rgb(152,173,166) solid;
}

#press img {
  border: 5px rgb(152,173,166) solid;
}

p {
  color: #555555;
}

/* Write all remaining styles here */