/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/


body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	font-family: 'bakerville'; serif;
	font-size: 4em;
	font-weight: normal;
	margin: 0 0 5px;
}

header {
	color: rgb(152,173,166);
	font-size: 2em;

	text-decoration: none;
}

#necklace img {
	border: 5px rgb(152,173,166) solid;
}

.logo {
	display: inline-block;
	border: 5px rgb(152,173,166) solid;
	text-decoration: none;
}

#copyright {
	text-align: right;
	font-size: 0.8em;
	color: rgb(152,173,166);
}

/* Write all remaining styles here */
