/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville', serif;
	src: url("../fonts/Baskerville.ttc");
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 a {
	font-family: 'Baskerville', serif;
	color: #a1b1ab;
	font-size: 4em;
	text-decoration: none;
	font-weight: normal;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	color: #737972;
}

p {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

p a {
	color: blue;
}
/* Write all remaining styles here */

.main {
	border: 4px solid #9baca6;
}

.logo {
	border: 3px solid #bcbcbc;
}

.logo:hover {
	border: 3px solid #414141;
}