/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

/*///// HEADERS //////*/

h1 {
  color: #9DABA6;
}

h2 {
  color: #6D7F7E;
}

/*/////// MEDIA //////*/
.img-frame {
  border: 10px solid green;
  padding: 5px;
}
