/*////////////// Fonts //////////////*/
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/* link the web font used for the level 1 heading here */


/*////////// Global Styles //////////*/
body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: #555;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}


h1 {
	font-size: 5em;
	color: #98ADA6;
	font-family: 'Baskerville';
	padding: 0 0 10px;
	margin: 0 0 5px;
	border-bottom: 1px solid #98ADA6;
}

img {
	border: 5px solid #98ADA6;
}
/* Write all remaining styles here */


h2 {
	color: #6F7F7A;
	font-size: 2em;
}

#press img:hover {
	border: 5px solid black;
}

footer {
	/* float: right; */
	text-align: right;
}

p {
		margin: 0 0 20px 0;
}

a{
	text-decoration: none;
}


/*


/*
header a {
	color: rgb(152,173,166);
	text-decoration: none;
}

header a:hover {
	color: rgb(111,127,122);
}

#featured img {
	border: 5px rgb(152,173,166) solid;
}

#featured a {
	color: #1783bb;
	text-decoration: none;
}

#featured a:hover {
	text-decoration: underline;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}

footer {
	text-align: right;
	background: #fff;
} */
